version: "3.9"

services:

  postgres_dev:
    image: postgres:14
    container_name: postgres_dev
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - "C:/Users/leonb/OdooDesarrollo/OdooDesarrollo/dataPG:/var/lib/postgresql/data"
    networks:
      - shared_network

  odoo_dev:
    image: odoo:16
    container_name: odoo_dev
    depends_on:
      - postgres_dev
    environment:
      HOST: postgres_dev
      USER: odoo
      PASSWORD: odoo
    ports:
      - "8070:8069"
    volumes:
      - "C:/Users/leonb/OdooDesarrollo/OdooDesarrollo/volumesOdoo/addons:/mnt/extra-addons"
      - "C:/Users/leonb/OdooDesarrollo/OdooDesarrollo/volumesOdoo/filestore:/var/lib/odoo/filestore"
      - "C:/Users/leonb/OdooDesarrollo/OdooDesarrollo/volumesOdoo/sessions:/var/lib/odoo/sessions"
    command: --dev=all
    networks:
      - shared_network

  postgres_prod:
    image: postgres:14
    container_name: postgres_prod
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    networks:
      - shared_network

  odoo_prod:
    image: odoo:16
    container_name: odoo_prod
    depends_on:
      - postgres_prod
    environment:
      HOST: postgres_prod
      USER: odoo
      PASSWORD: odoo
    ports:
      - "8096:8069"
    volumes:
      - "C:/Users/leonb/OdooDesarrollo/OdooDesarrollo/volumesOdoo/addons:/mnt/extra-addons"
    networks:
      - shared_network

networks:
  shared_network:
